{% extends 'base.html' %}


{% block header_content %}
    <title>Tasky Management Dashboard | Create Task Page</title>
{% endblock header_content %}


{% block main_content %}
    <!-- Add Task -->
    <div class="w-full lg:w-1/3">
        <h2 class="text-xl font-bold mb-4">Add Task</h2>
        <div id="in-progress-tasks">
            <div class="bg-white rounded shadow p-4 mb-4">
                <form method="post">
                    {% csrf_token %}
                    <b>Title:</b>
                    <br>
                    <input type="text" name="title" placeholder="Title">
                    <br>
                    <hr>
                    <br>
                    <b>Description:</b>
                    <br>
                    <textarea name="description" placeholder="Description"></textarea>
                    <br>
                    <hr>
                    <br>
                    <b>Category:</b>
                    {{form.category}}
                    <br>
                    <hr>
                    <br>
                    <b>Status:</b>
                    {{form.status}}
                    <br>
                    <hr>
                    <br>
                    <b>Priority:</b>
                    {{form.priority}}
                    <br>
                    <br>
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Add</button>
                </form>
            </div>
        </div>
    </div>
{% endblock main_content %}
