{% extends 'base.html' %}


{% block header_content %}
    <title>Tasky Management Dashboard | Delete Task Page</title>
{% endblock header_content %}


{% block main_content %}
    <!-- Delete Task -->
    <div class="w-full lg:w-1/3">
        <h2 class="text-xl font-bold mb-4">Delete Task</h2>
        <div id="in-progress-tasks">
            <div class="bg-white rounded shadow p-4 mb-4">
                <div class="flex justify-between mb-2">
                    <span class="text-red-500">{{delete_task.priority}}</span>
                    <span class="text-gray-500">{{delete_task.due_date|date:'m/n/y'}}</span>
                    <span class="text-purple-500">{{delete_task.category}}</span>
                </div>
                <h3 class="text-lg font-bold mb-2">{{delete_task.title}}</h3>
                <p class="text-gray-600 mb-4">{{delete_task.description}}</p>
                <a href="{% url 'delete_view_api' delete_task.id %}" class="bg-red-500 text-white px-4 py-2 rounded">Yes, Delete</a>
            </div>
        </div>
    </div>
{% endblock main_content %}
